.bg-image {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)) , url('about.jpg');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bg-image h1 {
    font-size: 40px;
    margin: 0;
}
.bg-image p {
    width: 70%;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
}

/******** *********/
.container_about {
    min-height: 70vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  .about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .desc-about {
    width: 100%;
    max-width: 500px;
    color: #565e73c9;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
  }
  .desc-about p {
    margin: 0;
  }
  .about-img {
    margin-right: 50px;
  } 
  .travel-about-tittle1 {
    color: teal;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 26px;
    margin: 0;
  
  }
  
  .travel-about-tittle2 {
    color: #132742;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 600;
    margin: 0;
  }
  
  .container_about_mainInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .about_mainInfo_par1 {
    color: teal;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }
  
  .about_mainInfo_par2 {
    color: #565e73c9;
    font-size: 16px;
    margin: 0;
  }
  @media all and  (max-width: 768px) {
    .about-header  { 
      flex-direction: column;
    }
    .about-img {
      margin: 0;
      align-self: center;
    }
    .travel-about-tittle1,  .travel-about-tittle2 {
      text-align: center;
    }
    .about {
      justify-content: center;
      margin-top: 20px;
    }
  }
  @media all and  (max-width: 500px) {
    .about-img {
      width: 90%;
    }
    .bg-image p { 
      font-size: 12px;
    }
    .desc-about {
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
   
    .container_about_mainInfo {
      justify-content: space-evenly;
    }
   
  }