.clock-wrapper {
    display: flex;
    align-items: center;
}
.clock-data {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  .clock {
    text-align: center;
  }
  .clock h2 {
    margin: 0;
  }
  .clock h5 {
    margin: 0;
    font-size: 12px;

  }